<div class="row">
   <div class="col s12 m12">
      <div class="message animated fadeIn">
         {{messages}}
      </div>
      <div class="card" style="margin: 4rem 0 1rem 0;">
         <button class="btn waves-effect waves-light right btn-flat" style="margin: 3% 3% 3% 0;">
            <a href="/" style="color: #000;">Home</a>
            <i class="material-icons left">home</i>
         </button> 
         <button class="btn waves-effect waves-light right btn-flat" style="margin: 3% 3% 3% 0;">
            <a href="/auth/logout" style="color: #000;">Logout</a>
            <i class="material-icons left"></i>
         </button> 
         
         <div class="card-content">
            <div class="row">            
               <div class="col s12 m12" style="">
                  <h4 class="center" style="margin: 3% 0 5% 0;">Welcome back: {{username}}</h4>
                  <h5 class="center" style="margin: 0% 0 0 0;">Select days:</h5>
                  <form action="/waiters/{{username}}" method="POST">
                     <div style="display:flex; margin: 10% 0 5% 0; justify-content: space-evenly;font-size: 16px;">
                        {{#each days}}
                        <label>
                           <input type="checkbox" class="filled-in" name="days" value="{{day_name}}"/>
                           <span style="font-size: 16px;">{{day_name}}</span>
                        </label>
                        {{/each}}

                     </div>
                     <div class="right">
                        <button class="btn waves-effect waves-light" type="submit">Submit</a></button>
                     </div>
                  </form>
               </div>
            </div>

            <div style="margin: 8% 0 2% 0;">
              <table class="highlight" style="    border: solid 1px #DCDBDC;">
                <thead>
                  <tr>
                    <th style="font-size: 1.4em;">Username</th>
                    <th style="font-size: 1.4em;" class="center">Working Days</th>
                     {{!-- <th style="font-size: 1.4em;">Actions</th> --}}
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td class=""> {{username}}</td>
                    <td class="waiterList">
                        {{#each waiterDays}}
                           <span class="list">{{day_name}}</span>
                        {{/each}}
                    </td>
                     {{!-- <td class=""> 
                        <a href="/waiters/{{username}}" class="waves-effect waves-light btn">
                        <i class="material-icons left">add</i>Edit</a>
                     </td> --}}
                  </tr>
                </tbody>
              </table>
            </div>
         </div>
      </div>
   </div>
</div>